<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>@Page.mTitle</title>
<meta name="keywords" content="@Page.mKeywords" />
<meta name="description" content="@Page.mDescription" />
<meta charset="iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="@Href("~/rcLayouts/BNG-Template/layout/styles/main.css")" rel="stylesheet" type="text/css" media="all">
<link href="@Href("~/rcLayouts/BNG-Template/layout/styles/mediaqueries.css")" rel="stylesheet" type="text/css" media="all">
<!--[if lt IE 9]>
<link href="layout/styles/ie/ie8.css" rel="stylesheet" type="text/css" media="all">
<script src="layout/scripts/ie/css3-mediaqueries.min.js"></script>
<script src="layout/scripts/ie/html5shiv.min.js"></script>
<![endif]-->
<!-- Slider -->
<link href="@Href("~/rcLayouts/BNG-Template/layout/scripts/responsiveslides.js-v1.53/responsiveslides.css")" rel="stylesheet" type="text/css" media="all">
@RenderSection("head")
</head>
<body class="">
<div class="wrapper row1">
  <header id="header" class="full_width clear">
    <hgroup>
      @RenderSection("rcTop",false)
    </hgroup>
    <div id="header-contact">
       @RenderSection("rcFacebook",false)
    </div>
  </header>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="topnav">
    @rcHelpers.SimpleMenu()
  </nav>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <!-- ################################################################################################ -->
  <div class="rslides_container clear">
    <ul class="rslides clear" id="rslides">
      <li><img src="@Href("~/rcLayouts/BNG-Template/images/demo/slider/1.jpg")" alt="#"></li>
      <li><img src="@Href("~/rcLayouts/BNG-Template/images/demo/slider/2.jpg")" alt="#"></li>
      <li><img src="@Href("~/rcLayouts/BNG-Template/images/demo/slider/3.jpg")" alt="#"></li>
    </ul>
  </div>
  <!-- ################################################################################################ -->
  <div class="clear"></div>
</div>
<!-- content -->
<div class="wrapper row3">
  <div id="container">
    <!-- ################################################################################################ -->
    <div id="homepage" class="clear">
      <div class="two_third first">
        @RenderBody()
        @RenderSection("rcBottom",false)
      </div>
      <!-- ################################################################################################ -->
      <div class="one_third">
        @RenderSection("rcRight",false)
      </div>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
</div>
<!-- Footer -->
<div class="wrapper row2">
  <div id="footer" class="clear">
    @RenderSection("rcFoot",false)
  </div>
</div>
<div class="wrapper row4">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; @DateTime.Now.Year- All Rights Reserved - <a href="#">Catalyst Innovation</a></p>
    <p class="fl_right">Template by <a href="" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>
<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="layout/scripts/jquery-latest.min.js"><\/script>\
<script src="@Href("~/rcLayouts/BNG-Template/layout/scripts/jquery-ui.min.js")"><\/script>')</script>
<script>jQuery(document).ready(function($){ $('img').removeAttr('width height'); });</script>
<script src="@Href("~/rcLayouts/BNG-Template/layout/scripts/responsiveslides.js-v1.53/responsiveslides.min.js")"></script>
<script src="@Href("~/rcLayouts/BNG-Template/layout/scripts/jquery-mobilemenu.min.js")"></script>
<script src="@Href("~/rcLayouts/BNG-Template/layout/scripts/custom.js")"></script>
</body>
</html>